<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JXTouch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>26E43E6F1CD711B100B2BCE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26E43E881CD711B100B2BCE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26E43E931CD711B100B2BCE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
